<h2>NgRx</h2>
<p>Should you be passing data into your child components at all? Or would it be better to centrally manage all data and app state in one place?</p>
<p><a href="https://github.com/ngrx/platform" target="_blank">NgRx</a> is a robust and powerful state management system based on redux (Ng Rx - see what they did there?). It's a reactive, observable wrapper around your api service, but it also manages app state from one place in your app - "a single source of truth".</p>
<p>With NgRx, each of your components access data with selectors that look like this:</p>
<p><code>entities$ = this.store.pipe(select(getAllEntitiesAsArray));</code></p>
Create, modify or delete data with actions that look like this:
<p><code>this.store.dispatch(new EntityAction({{ '{' }} entity: this.myEntity }));</code></p>
<p>Requests are used efficiently because the data is cached, but still kept in sync with the server.
Small apps won't require NgRx, but when you are asked to build an enterprise-grade app for a client, it's nice to know you have NgRx at your disposal!</p>
<p>NgRx requires quite a lot of files to setup, but thankfully we at Briebug have built a schematic to help you gen-out those files quickly from the command line. We call it the <a href="https://github.com/briebug/ngrx-entity-schematic">ngrx-entity-schematic</a>. It will create all the necessary actions, reducers, and effects for any name you provide it, and it even includes tests! All you need to do is customize the model and the service to your backend.</p>
